@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

/* * {
  font-family: 'Open Sans', sans-serif;
} */

.orderpage {
  background: #4B79A1;
  background: -webkit-linear-gradient(to left, #74acdd, #283E51);
  background: linear-gradient(to left, #0865b6, #283E51);
}

.orderpage .seller-orders-title {
  padding: 30px;
  /* Adjust this value as needed */
}

.orderpage .table-wrapper {
  display: flex;
  justify-content: center;
  /* This centers the table horizontally */
  /* align-items: center; */
  /* This centers the table vertically */
  height: 100vh;
  /* This takes the full viewport height */
}

.orderpage .rwd-table {
  width: 90%;
  /* You can adjust this value */
  margin: auto;
  /* This will keep the table centered */
  min-width: 1100px;
  max-width: 100%;
  border-collapse: collapse;
}

/* Increase the font size for the entire table */
.orderpage .rwd-table,
.rwd-table th,
.rwd-table td {
  font-size: 25px;
  /* Adjust this value as needed */
}

/* If you want headers to have a different font size */
.orderpage .rwd-table th {
  font-size: 30px;
  /* Adjust this value as needed */
}

/* .rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
} */

.orderpage .rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.orderpage .rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.orderpage .rwd-table th {
  display: none;
}

.orderpage .rwd-table td {
  display: block;
}

.orderpage .rwd-table td:first-child {
  margin-top: .5em;
}

.orderpage .rwd-table td:last-child {
  margin-bottom: .5em;
}

.orderpage .rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.orderpage .rwd-table th,
.orderpage .rwd-table td {
  text-align: left;
}

.orderpage .rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.orderpage .rwd-table tr {
  border-color: #bfbfbf;
}

.orderpage .rwd-table th,
.orderpage .rwd-table td {
  padding: .5em 1em;
}

@media screen and (max-width: 601px) {
  .orderpage .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 600px) {
  .orderpage .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }

  .orderpage .rwd-table td:before {
    display: none;
  }

  .orderpage .rwd-table th,
  .orderpage .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }

  .orderpage .rwd-table th:first-child,
  .orderpage .rwd-table td:first-child {
    padding-left: 0;
  }

  .orderpage .rwd-table th:last-child,
  .orderpage .rwd-table td:last-child {
    padding-right: 0;
  }

  .orderpage .rwd-table th,
  .orderpage .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
/* body {
background: #4B79A1;
background: -webkit-linear-gradient(to left, #74acdd , #283E51);
background: linear-gradient(to left, #0865b6 , #283E51);        
} */

.orderpage h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}

.orderpage .container {
  display: block;
  text-align: center;
}

.orderpage h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}

.orderpage h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}

.orderpage h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0)
  }

  25% {
    -webkit-transform: translateX(-10px)
  }

  75% {
    -webkit-transform: translateX(10px)
  }

  100% {
    -webkit-transform: translateX(0)
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(-10px)
  }

  75% {
    transform: translateX(10px)
  }

  100% {
    transform: translateX(0)
  }
}

/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/