/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
  padding: 30px 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 999; 
} */
/* Style for the container div */
/* .orderpage {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fa8100, #fc1eb7);
  }
 .order-container{
    padding-top: 60px;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
 }

.seller-header {
    font-size: 18px;
    margin-bottom: 20px;
  }
.table thead{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 20px 40px;
    border: 1px solid #ddd;
  } */
  
  /* Style for the table rows */
  /* table td {
    padding: 10px;
    border: 1px solid #ddd;
  } */
  
  /* Style for the select element */
  /* select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
   */
  /* Style for the select options */
  /* select option {
    background-color: #fff;
  } */

  

  